body {
  margin: 0;
}

.app {
  text-align: center;
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: 10vw auto;
	background-color: skyblue;
}

/* Side bar */

.appRouterSideBar {
	grid-column: 1;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.routerSideBarButton {
	background-color: lightblue;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	margin: 5px;
	height: 100px;
	font-size: 32px;
	border-radius: 25px;
	display: grid;
}

.routerLink {
	text-decoration: none;
	color: darkblue;
}

/* Pages */

.appMainPage {
	grid-column: 2;
	width: 100%;
	height: 100%;
}

.homeContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.flexItem0 {
	flex: 0;
}

.flexImage {
	display: grid;
	flex: 1;
}

.flexImage img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.centerContainer {
	display: flex;
	justify-content: center;
}

.button {
	display: block;
	background-color: lightblue;
	color: darkblue;
	text-align: center;
	line-height: 45px;
	margin: 5px;
	height: 50px;
	font-size: 32px;
	border-radius: 5px;
}

.button:active {
    transform: translate(0, 2px);
}

.button:focus{
    outline: none;
}
